body{background:#312; color:#fff; font-family:sans-serif;}
input#ton, input#tof{width:100%; text-align:center;}
label input{visibility:hidden; display:block; height:0px; width:0px; position:absolute;}
label span{height:1.2em; width:100%; display:inline-block; border:1px solid #977;}
[type=checkbox] + span:before{display:inline-block; width:100%; height:100%; text-align:center;}
[type=checkbox]:not(:checked) + span:before{content:'off';}
[type=checkbox]:checked + span:before{content:'on';}
table{width:100%;}
td{padding:0.3em; text-align:center;}
tr :first-child{text-align:left;}
